@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #121212; /* Dark background for cyberpunk feel */
  color: #ffffff;
}

.glow-effect {
  box-shadow: 0 0 10px #00f6ff, 0 0 20px #ff2079, 0 0 30px #43e97b;
}

.select-container svg {
  width: 1em;
  height: 1em;
}

/* button svg {
  display: none;
} */
